<nb-card>

  <nb-card-header>
          Seller
          <button nbButton  style="float: right; right:0px" (click)="add()">
                  Add Seller  
          </button>  
         
  </nb-card-header>

  <nb-card-body style="overflow: scroll;">
      


<div class="mat-table__wrapper" style="overflow: scroll;  max-height: 60vh;"> 


<mat-table #table [dataSource]="dataSource" style="width: 180%;">  

   
   <ng-container matColumnDef="store_name">
     <mat-header-cell *matHeaderCellDef  cell_center>Store Name</mat-header-cell>
     <mat-cell *matCellDef="let element"  cell_center> {{element.store_name}} </mat-cell>
   </ng-container>
 <!-- Location Column -->
   <ng-container matColumnDef="email">
     <mat-header-cell *matHeaderCellDef  cell_center> Email </mat-header-cell>
     <mat-cell *matCellDef="let element"  cell_center>{{element.email}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="price">
     <mat-header-cell *matHeaderCellDef  cell_center>Phone</mat-header-cell>
     <mat-cell *matCellDef="let element"  cell_center> {{element.phone}}</mat-cell>
   </ng-container>
       <!-- Start Time Column -->
   <ng-container matColumnDef="discount">
     <mat-header-cell *matHeaderCellDef title  mx-w-100  cell_center>Password</mat-header-cell>
     <mat-cell *matCellDef="let element" title mx-w-100  cell_center> <span class="badge badge-secondary">{{ element.password}}</span> </mat-cell>
   </ng-container>
         <!-- Player Joined Column -->
   <ng-container matColumnDef="discount_type">
     <mat-header-cell *matHeaderCellDef title cell_center> Address </mat-header-cell>
     <mat-cell *matCellDef="let element" title cell_center>
       {{element.address}}
      
      </mat-cell>
   </ng-container>

  <ng-container matColumnDef="quantity">
   <mat-header-cell *matHeaderCellDef  cell_center>City </mat-header-cell>
   <mat-cell *matCellDef="let element"  cell_center> {{element.city}}</mat-cell>
  </ng-container>
  <!-- Start Time Column -->
  <ng-container matColumnDef="quantity_type">
   <mat-header-cell *matHeaderCellDef title  mx-w-100  cell_center>State</mat-header-cell>
   <mat-cell *matCellDef="let element" title mx-w-100  cell_center>{{element.state}}</mat-cell>
  </ng-container>
  <!-- Player Joined Column -->
  <ng-container matColumnDef="category">
   <mat-header-cell *matHeaderCellDef title cell_center>  Pin </mat-header-cell>
   <mat-cell *matCellDef="let element" title cell_center>
     
    {{element.pin}}
    </mat-cell>
  </ng-container>
 
   <ng-container matColumnDef="action">
     <mat-header-cell *matHeaderCellDef  cell_center pr-2> Action </mat-header-cell>
     <mat-cell *matCellDef="let element; let i=index"  cell_center pr-2>
      <!-- <button nbButton [size]="'small'"  (click)="add()">
      Edit 
      </button> -->
      <button nbButton [size]="'small'" routerLink="/pages/editseller/{{element._id}}">
          Edit  
          </button>

      <button nbButton [size]="'small'" (click)="delete(element._id, i)">
      Delete  
      </button>


      
         </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
</div>


  </nb-card-body>
</nb-card>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#9784ed"
type="ball-clip-rotate"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<!-- ng build --base-href "http://crunchtime.mobi/" --output-hashing none -->