<div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Edit Driver</nb-card-header>
        <nb-card-body>
                <form [formGroup]="productForm" (ngSubmit)="addProduct()">

                  <div class="form-group row" *ngIf="type==1">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Associate Sellers</label>
                    <div class="col-sm-9">
                    
                        <nb-card-body>
                          <nb-select multiple placeholder="Multiple Select" formControlName="associateSeller" style="width: 200%;">
                            <nb-option value="{{item._id}}" *ngFor="let item of sellers">{{item.store_name}}</nb-option>
                          </nb-select>
                        </nb-card-body>
                     
                    </div>
                  </div>

  
                  <div class="form-group row">
                    <label for="inputEmail1" class="label col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="inputEmail1" placeholder="Name" formControlName="name">
                    <div *ngIf="!productForm.controls.name.valid && is_submit" class="valid">
                      Store Name field is required
                    </div>   
                </div>
                 </div>
  
             <div class="form-group row">
                <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                <input type="email" nbInput fullWidth id="inputEmail1" placeholder="email" formControlName="email">
                <div *ngIf="!productForm.controls.email.valid && is_submit" class="valid">
                  Email field is required
                </div>   
            </div>
              
             </div>
  
             <div class="form-group row">
                    <label for="price" class="label col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                    <input type="number" nbInput fullWidth id="price" placeholder="Phone" formControlName="phone">
                    <div *ngIf="!productForm.controls.phone.valid && is_submit" class="valid">
                      Phone field is required
                      </div>
                    </div>
            </div>
             
   
   
      
        <div class="form-group row">
          <label for="price" class="label col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
          <input type="text" nbInput fullWidth id="price" placeholder="Password" formControlName="password">
          <div *ngIf="!productForm.controls.password.valid && is_submit" class="valid">
                Password field is required
            </div>
          </div>
        </div>
  
        <div class="form-group row">
            <label for="Quantity" class="label col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
              <ng4geo-autocomplete [userSettings]="userSettings1"  (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete><br>
              <div *ngIf="address?.length>0 && is_submit" class="valid">
                Address is required
            </div>
              </div>
    </div>
  
            <div class="form-group row">
              <label for="price" class="label col-sm-3 col-form-label">City</label>
              <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="price" placeholder="City" formControlName="city">
              <div *ngIf="!productForm.controls.city.valid && is_submit" class="valid">
                   City field is required
                </div>
              </div>
            </div>
  
            <div class="form-group row">
              <label for="price" class="label col-sm-3 col-form-label">State</label>
              <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="price" placeholder="State" formControlName="state">
              <div *ngIf="!productForm.controls.state.valid && is_submit" class="valid">
                State field is required
                </div>
              </div>
            </div>
  
            <div class="form-group row">
              <label for="price" class="label col-sm-3 col-form-label">Pin</label>
              <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="price" placeholder="Pin" formControlName="pin">
              <div *ngIf="!productForm.controls.pin.valid && is_submit" class="valid">
                Pin field is required
                </div>
              </div>
            </div>

             <div class="form-group row">
                    <label for="Picture" class="label col-sm-3 col-form-label">Picture</label>
                    <div class="col-sm-9">
                      <input type="file" nbInput fullWidth id="Picture" placeholder="Picture" (change)="preview(file1.files)"  #file1 accept='image/*'>

                      <img src="{{imgURL}}" width="33%"/>
                      <img src="{{picUrl}}{{pic}}" width="33%" *ngIf="errors.indexOf(imgURL)>=0"/>
                    </div>
              </div>
  
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">UPDATE</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  
   
    </div>
  
  </div>
  
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#9784ed"
  type="ball-clip-rotate"
  >
  <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>