<div class="row">
        <div class="col-md-6">
          <nb-card>
            <nb-card-header>Add Buyer</nb-card-header>
            <nb-card-body>
              <form>

                 <div class="form-group row">
                    <label for="inputEmail1" class="label col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="inputEmail1" placeholder="Name">
                    </div>
                 </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
                  </div>
                </div>
                <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Phone</label>
                        <div class="col-sm-9">
                          <input type="text" nbInput fullWidth id="inputPassword2" placeholder="Phone">
                        </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword2" class="label col-sm-3 col-form-label">Password</label>
                  <div class="col-sm-9">
                    <input type="password" nbInput fullWidth id="inputPassword2" placeholder="Password">
                  </div>
                </div>

                <div class="form-group row">
                        <label for="inputPassword2" class="label col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-9">
                          <input type="password" nbInput fullWidth id="inputPassword2" placeholder="Confirm Password">
                        </div>
              </div>

              <div class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Profile Picture</label>
                    <div class="col-sm-9">
                      <input type="file" nbInput fullWidth id="inputPassword2" placeholder="Profile Picture">
                    </div>
            </div>

 
                <div class="form-group row">
                  <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary">ADD</button>
                  </div>
                </div>
              </form>
            </nb-card-body>
          </nb-card>
      
       
        </div>
    
      </div>